html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }
  
 #calendar {
    max-width: 100%;
    margin-top: 20px;
  }

  .row {
    margin-left: 60px;
  }

  .schedule-builder-row{
    border: 15px solid #E0E0E7 !important;
  }

  .schedule-card{
    margin-left: -8px !important;
  }
  .label-1{
    font-size: 25px;
  }
  body {
    background-color: #eff3f7;
  }

  .card {
    border: hidden;
  }

.label {
  padding: 10px 0px;
}

  .calender-col{
    border: 15px solid #E0E0E7 !important;
    //border-radius: 15px;
  }

  .people-col{
    border: 15px solid #E0E0E7 !important;
    //border-radius: 5px;
  }

  .container {
    margin: 0;
    margin-top: 70px !important;
    max-width: 100% !important;
  }





  .employee-card {
    display: flex;
    align-items: center;
    width: 100%; /* 80% of available space */
    height: 60px;
    background-color: #ffe5d9;
    border-radius: 10px; /* Rounded corners */
    margin-left: 10px; /* Add margin to the left */
    padding: 10px; /* Add padding */
    margin: 10px 0px;
}

.user-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden; /* Ensures the image doesn't overflow */
}

.user-image img {
    width: 100%;
    height: 100%;
}

.employee-details {
    flex: 1;
}

.name {
    font-weight: bold;
}

.static-value {
    /* Add styles for the static value */
}
